
/* hanalei-fill-regular */
@font-face {
  font-family: 'Hanalei Fill';
  font-style: normal;
  font-weight: regular;
  src: url('//lib.baomitu.com/fonts/hanalei-fill/hanalei-fill-regular.eot'); /* IE9 Compat Modes */
  src: local('Hanalei Fill'), local('HanaleiFill-Normal'),
       url('//lib.baomitu.com/fonts/hanalei-fill/hanalei-fill-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//lib.baomitu.com/fonts/hanalei-fill/hanalei-fill-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('//lib.baomitu.com/fonts/hanalei-fill/hanalei-fill-regular.woff') format('woff'), /* Modern Browsers */
       url('//lib.baomitu.com/fonts/hanalei-fill/hanalei-fill-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//lib.baomitu.com/fonts/hanalei-fill/hanalei-fill-regular.svg#HanaleiFill') format('svg'); /* Legacy iOS */
}
  
/* kirang-haerang-regular */
@font-face {
  font-family: 'Kirang Haerang';
  font-style: normal;
  font-weight: regular;
  src: url('//lib.baomitu.com/fonts/kirang-haerang/kirang-haerang-regular.eot'); /* IE9 Compat Modes */
  src: local('Kirang Haerang'), local('KirangHaerang-Normal'),
       url('//lib.baomitu.com/fonts/kirang-haerang/kirang-haerang-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//lib.baomitu.com/fonts/kirang-haerang/kirang-haerang-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('//lib.baomitu.com/fonts/kirang-haerang/kirang-haerang-regular.woff') format('woff'), /* Modern Browsers */
       url('//lib.baomitu.com/fonts/kirang-haerang/kirang-haerang-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//lib.baomitu.com/fonts/kirang-haerang/kirang-haerang-regular.svg#KirangHaerang') format('svg'); /* Legacy iOS */
}
  
/* lato-regular */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: regular;
  src: url('//lib.baomitu.com/fonts/lato/lato-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato'), local('Lato-Normal'),
       url('//lib.baomitu.com/fonts/lato/lato-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//lib.baomitu.com/fonts/lato/lato-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('//lib.baomitu.com/fonts/lato/lato-regular.woff') format('woff'), /* Modern Browsers */
       url('//lib.baomitu.com/fonts/lato/lato-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//lib.baomitu.com/fonts/lato/lato-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
  
/* oswald-regular */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: regular;
  src: url('//lib.baomitu.com/fonts/oswald/oswald-regular.eot'); /* IE9 Compat Modes */
  src: local('Oswald'), local('Oswald-Normal'),
       url('//lib.baomitu.com/fonts/oswald/oswald-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//lib.baomitu.com/fonts/oswald/oswald-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('//lib.baomitu.com/fonts/oswald/oswald-regular.woff') format('woff'), /* Modern Browsers */
       url('//lib.baomitu.com/fonts/oswald/oswald-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('//lib.baomitu.com/fonts/oswald/oswald-regular.svg#Oswald') format('svg'); /* Legacy iOS */
}
  