<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- 屏幕适配方案 -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>signin</title>

<!-- 引入google字体库 -->
<link href="https://fonts.font.im/css?family=Hanalei+Fill|Kirang+Haerang|Lato|Oswald" rel="stylesheet">
<!-- 引入公共css文件 -->
<link rel="stylesheet" type="text/css" href="./public/css/common.css">

</head>

<body>
<EMBED src="./public/1.mp3" autostart="true" loop="true" hidden="true"/>
<canvas></canvas>
<menu>
  <form action="/mypage" method="post" th:object="${person}">
	    <h4>blog login</h4>
	        username:<input type="text" name="username"/></br>
       	 	password:<input type="password" name="password"/></br>
	        <input type="reset" value="reset">
	        <input type="submit" value="login">
	        <br/>
	        <a href="/sign">signup</a>
	</form>
</menu>
  
  <script type="text/javascript" src="./public/js/skill.js">
  </script>
</body>
</html>