<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>


<body>
    
    welcome to 主页
    
    <p th:text="${person.username}"> </p>
       签名：
    <p th:text="${person.slogan}"> </p>
    
    <ul th:each="diary: ${diarylist}">
        <li  th:text="${diary.username}" ></li>
		<li  th:text="${diary.content}" ></li>
		<li  th:text="${diary.datetime}"></li>
	</ul>
    
    <a href="/writeDiary">写日记</a>
    <a href="/writeSlogan">写签名</a>
    <a href="/getmypage">个人中心</a>
    <a href="/exit">注销</a>
    
</body>
</html>