<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
     
     <form action="/sign" method="post" th:object="${person}">
              注册</br>
        username:<input type="text" name="username"/></br>
        password:<input type="text" name="password"/></br>
        name:<input type="text" name="name"/></br>
        age:<input type="text" name="age"/></br>
                 <input type="submit" value="注册">
    </form>
</body>
</html>