<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- 屏幕适配方案 -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>wirtediary</title>

<!-- 引入google字体库 -->
<link href="https://fonts.font.im/css?family=Hanalei+Fill|Kirang+Haerang|Lato|Oswald" rel="stylesheet">
<!-- 引入公共css文件 -->
<link rel="stylesheet" type="text/css" href="./public/css/common.css">

</head>

<body>

<canvas></canvas>
<menu>
      <form th:action="@{/addDiary}" th:method="post" >
	    <h4>write diary</h4>
    <p th:text="${person.username}"></p>
	  <textarea type="text" name="content" ></textarea> 
 			<input type="reset" value="reset">
	        <input type="submit" value="submit">
      </form>
</menu>
  
  </div>
  <script type="text/javascript" src="./public/js/skill.js">

  </script>
</body>
</html>